<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "css.html" . }}
  </head>
  <body class="">
    <!-- Preloader -->
    <div id="preloader">
      <div id="status"></div>
    </div>

    {{ block "main" . }}
    {{ end }}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{ if .Site.Params.sidebar }}
    {{ partial "sidebar.html" . }}
    {{ end }}

    {{ partial "javascript.html" . }}

    <!-- whatsapp icon from elfsight -->
    {{$whatsapp := .Site.Params.whatsapp  }}
    {{if $whatsapp}}{{$whatsapp.div | safeHTML}}{{end}}


    <script async="async" src="https://static.mobilemonkey.com/js/mm_4ddf331c-5c02-4ddc-8fa9-c35175ad3e90-13720368.js"></script>
      <script>
      window.mmDataLayer = window.mmDataLayer || [];
      function mmData(o) { mmDataLayer.push(o); }
      </script>
  </body>
</html>
