/* ==========================================================================
Hero styles
========================================================================== */
html,body{
    scroll-padding-top: 200px;
}

.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: $black;
    background:radial-gradient(73.32% 71.66% at 48.83% 45.76%,hsla(0,0%,39.6%,.36) 3.65%,rgba(46,46,47,.36) 35.32%,rgba(77,77,77,.36) 63.53%,rgba(26,26,26,.36) 86.46%,rgba(0,0,0,.36) 100%),#000;
    .title, .subtitle {
        font-family: 'Space Grotesk', 'Open Sans', sans-serif;
    }
    .title {
        font-size: 4rem;
        &.is-bold {
            font-weight: 700;
            // color: $brand-green;
            color: $white;
        }
    }
    .subtitle {
        color: $brand-green;
        font-size: 2rem;
        &.is-muted {
            // color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
}

// single template styling
.hero-single{
    background-color: #212121 !important;
    // padding: 6rem 2rem;
    position: relative;
    padding: 4rem 0 !important;

}

.hero-single h1{
    color: #fff !important;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 3rem;
}

.content p{
    font-size: 1.1rem !important;
}

.circle-bg{
    background: linear-gradient(45deg, black, transparent);
    // background-color: rgba(255, 255, 255, 0.26);
    width: 400px;
    height:400px;
    position: absolute;
    border-radius: 50%;
    right: 40%;
    z-index: 0;
}

.bg-single{
    background-color: #effffc;
}

@media (max-width:470px){
    .hero-single h1{
        font-size: 1.9rem;
    }
}