<style>
    .cto-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    @media screen and (max-width: 560px) {
        .cto-section{
            padding: 1rem 1.5rem;
        }
    }
</style>

<div class="section cto-section">
    <div class="container cto-container">
        <h1 class="section2-title">CTO As A Service</h1>
        <p class="section2-paragraph">Our Fractional CTO solution can streamline your path to success. From Software Design and Fintech to Influencer Networks and Digital Advertising, we offer a comprehensive approach to help you build a Minimum Viable Product (MVP) and unleash the value of your data to find Product-Market Fit</p>
    </div>
</div>