{{- $hero := .Site.Params.hero }}
{{- $title := index $hero "title" }}
{{- $subtitle := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image := index $hero "image" }}
{{- $tagline := index $hero "tagline"}}

<style>
  .main-container{
    max-width: fit-content;
    margin: 2.2rem 0 0 2.2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .hero-title{
    font-size: 3rem;
    color: #FFF;
    font-family: 'AvenirNext';
    font-weight: 700;
    line-height: 1;
  }

  .hero-subtitle{
    font-family: 'AvenirNext';
    font-size: 1.2rem;
    color: #00fdcf;
    line-height: 2;
  }

  @media screen and (max-width: 1024px) {
    .main-container{
      max-width: inherit;
      text-align: center;
      margin-left: 0;
      align-items: center;
    }
  }

  @media screen and (max-width: 560px) {
    .hero-title{
      font-size: 2.1rem;
    }

    .hero-subtitle{
      font-size: 1rem;
      max-width: 35ch;
      text-align: center;
      line-height: 1.4;
    }

    .hero-btn{
      font-size: .95rem !important;
      padding: 1rem !important;
      font-family: 'AvenirNext' !important;
      border: none !important;
      margin-top: 1rem;
    }
  }
</style>

<div class="hero-body" style="background: url('/images/banner.jpeg') center; background-size:cover; background-repeat: no-repeat;">
  <div class="banner-overlay">
    <div class="main-container">
      <h1 class="hero-title">
        {{ $title }}
      </h1>

      {{ with $subtitle }}
      <h2 class="hero-subtitle">
        {{ . }}
      </h2>
      {{ end }}

      <p>
        <a class="hero-btn button is-rounded cta primary-btn raised bg-green" style="font-family: 'AvenirNextBold'; font-weight: bold;" href=""
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/quantumfinance?hide_gdpr_banner=1'});return false;">
          {{ $buttonText }}
        </a>

        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <!-- Calendly link widget end -->
      </p>
    </div>
  </div>
</div>