<style>
  .widget-container-desktop{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    margin: 0 auto;
    background-color: #212121;
    width: 100%;
  }

  .widget-container-mobile{
    display: none;
  }

  @media screen and (max-width: 400px) {
    .widget-container-desktop{
      display: none;
    }

    .widget-container-mobile{
      display: flex;
      justify-content: center;
      padding: 1.5rem 0;
      margin: 0 auto;
      background-color: #212121;
      width: 100%;
    }
  }
</style>

<section class="hero is-default is-bold" style="position: relative;">
  {{ partial "hero-body.html" . }}

  <link rel="stylesheet" type="text/css" href="https://letsexchange.io/widget_lets.css">
  <div class="widget-container-desktop">
    <div class="lets-widget" id="lets_widget_0CFSQb86uvxqx8My"  style="max-width: 480px; height: 480px;">
      <iframe src="https://letsexchange.io/v2/widget?affiliate_id=0CFSQb86uvxqx8My&is_iframe=true" width="100%" height="100%" frameBorder="0" allow="clipboard-read; clipboard-write"></iframe>
    </div>
  </div>

  <div class="widget-container-mobile">
    <iframe title="Exolix widget" src="https://exolix.com/widget/BTC:BTC-ETH:ETH?a=1&locale=en&t=1uM6o93lLuWDyQEKwVbvPdXeK4uymmaPqTnUJlUWJUhKhT9m5gEYYG3xUS7dbSB1&s=white" width="315px" height="268px" frameBorder="0" scrolling="yes"></iframe>
  </div>
  <script src="https://letsexchange.io/init_widget.js"></script>

  {{ partial "hero-footer.html" . }}
</section>