{{- $hero := .Site.Params.hero }}
{{- $title := index $hero "title" }}
{{- $subtitle := index $hero "subtitle" }}
{{- $buttonText := index $hero "buttontext" }}
{{- $buttonLink := index $hero "buttonlink" }}
{{- $image := index $hero "image" }}
{{- $tagline := index $hero "tagline"}}

<style>
  .hero-container{
    padding: 0;
    min-height: 87vh;
  }

  .text-container{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 0;
    left: 2.2rem;
    background-color: rgba(0,0,0,0.6);
    padding: 2rem;
  }

  .hero-title{
    font-size: 3rem;
    color: #FFF;
    font-family: 'AvenirNext',sans-serif;
    font-weight: 700;
    max-width: 400px;
    line-height: 3rem;
  }

  .hero-para{
    max-width: 400px;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 12px;
  }

  .widget-container-desktop{
    position: absolute;
    top: 32px;
    right: 2.2rem;
  }

  .hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 269px;
    height: 54px;
    cursor: pointer;
  }

  @media screen and (max-width: 1200px) {
    .hero-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: fit-content;
      z-index: -1;
    }

    .text-container{
      position: relative;
      inset: 0;
      width: 100%;
      max-width: 100%;
      background-color: transparent;
      z-index: 2;
    }

    .widget-container-desktop{
      position: relative;
      inset: 0;
      z-index: 3;
      width: 100%;
      padding: 0 0 2rem 2rem;
    }

    .hero-bg-overlay{
      position: absolute;
      inset: 0;
      background-color: rgba(0,0,0,0.6);
      z-index: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    .text-container{
      max-width: 100%;
      align-items: center;
    }

    .hero-title,.hero-para{
      max-width: 100%;
      text-align: center;
    }

    .hero-title{
      font-size: 2rem;
    }

    .hero-para{
      margin-top: 0;
    }

    .widget-container-desktop{
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (max-width: 600px) {
    .hero-container{
      min-height: fit-content;
    }

    .text-container{
      padding: 2rem 1rem;
    }

    .hero-title{
      font-size: 1.8rem;
      line-height: 30px;
    }

    .hero-para{
      font-size: .9rem;
    }

    .hero-btn{
      width: max-content;
      height: max-content;
      font-size: 12px;
      padding: 1rem 1.5rem;
    }

    .widget-container-desktop{
      padding: 0;
      justify-content: inherit;
      width: 100%;
    }

    .widget-container-desktop > div{
      display: flex !important;
      width: 100%;
    }

    .widget-container-desktop > iframe{
      display: none;
    }

    .mobile-widget{
      display: block;
    }
  }
</style>

<div class="hero-container" style="background: url('/images/banner.jpeg') center; background-size:cover; background-repeat: no-repeat;position: relative;">
    <div class="text-container">
      <h1 class="hero-title">
        {{ $title }}
      </h1>

      <p class="hero-para">Our Fractional CTO solution can streamline your path to success. From Software Design and Fintech to Influencer Networks and Digital Advertising, we offer a comprehensive approach to help you build a Minimum Viable Product (MVP) and unleash the value of your data to find Product-Market Fit</p>

      <p>
        <a class="hero-btn bg-green" style="font-family: 'AvenirNextBold',sans-serif; font-weight: bold;margin-top: 12px" href=""
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/quantumfinance?hide_gdpr_banner=1'});return false;">
          {{ $buttonText }}
        </a>

        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <!-- Calendly link widget end -->
      </p>
    </div>

    <div class="widget-container-desktop">
      <iframe title="Exolix widget" src="https://exolix.com/widget/BTC:BTC-ETH:ETH?a=1&locale=en&t=1uM6o93lLuWDyQEKwVbvPdXeK4uymmaPqTnUJlUWJUhKhT9m5gEYYG3xUS7dbSB1&s=white" width="560px" height="376px" frameBorder="0" scrolling="yes"></iframe>
    </div>

    <div class="hero-bg-overlay"></div>
</div>