{{- $quotes := .Site.Params.quotes }}
{{- $title    := index $quotes "title" }}
{{- $subtitle := index $quotes "subtitle" }}
{{- $clients  := index $quotes "clients" }}

<style>
  @media screen and (max-width: 560px) {
    .content-wrapper{
      padding: 40px 0 0;
    }

    .quotes blockquote{
      padding: 30px 9px 65px 48px;
    }
  }
</style>

<section class="section section-light-grey">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 has-text-black is-spaced section-title" style="font-family: 'AvenirNext';">{{ $title }}</h2>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-vcentered">
        {{- range $clients }}
        <div class="column is-4">
          <figure class="quotes">
            <blockquote style="font-family: 'AvenirNext';">
              {{ .quote }}
            </blockquote>
            <div class="author">
              <h5 style="font-family: 'AvenirNext';">{{ .name }}</h5>
              <span class="has-text-black" style="font-family: 'AvenirNext';">{{ .job }}</span>
            </div>
          </figure>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>