{{- $section1 := .Site.Params.section1 }}
{{- $title    := index $section1 "title" }}
{{- $subtitle := index $section1 "subtitle" }}
{{- $tiles    := index $section1 "tiles" }}

<style>
  .my-columns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  @media screen and (max-width: 1100px) {
    .my-columns{
      grid-template-columns: repeat(2,1fr);
    }    
  }

  @media screen and (max-width: 700px) {
    .my-columns{
      grid-template-columns: repeat(1,1fr);
    }    
  }
</style>

<section id="get-started" class="section section-feature-grey-dark is-medium">
  <div class="container-fluid">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-uppercase is-size-3-mobile txt-white is-2" style="font-family: 'AvenirNext';">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted" style="font-family: 'AvenirNext';">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="my-columns card-flow">
        {{- range $tiles }}
        <div class="column">
          <div class="bg-black feature-card has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h4 class="txt-white" style="font-family: 'AvenirNext';">{{ .title }}</h4>
            </div>
            <!-- <div class="card-icon">
                <img src="{{ printf "/images/illustrations/icons/%s.svg" .icon | relURL }}">
            </div> -->
            <div class="card-text">
                <p style="font-family: 'AvenirNext';">{{ .text }}</p>
            </div>

            {{ if .url }}
              <div class="card-action">
                <a href="{{ .url }}" class="is-rounded txt-black button btn-align-md accent-btn raised">{{ .buttonText }}</a>
              </div>
            {{ end }}
          </div>
        </div>
        {{- end }}
      </div>
    </div>
  </div>
</section>